In [10]:
#Exercise: Feature Extraction from HR Data

import pandas as pd
from datetime import datetime

# Sample HR dataset
data = {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Date_of_Joining": [
        "2018-06-15",
        "2020-01-10",
        "2019-09-01",
        "2021-03-22",
        "2017-11-30"
    ],
    "Last_Promotion_Date": [
        "2022-06-01",
        "2021-12-15",
        "2020-08-20",
        "2022-01-05",
        "2019-07-10"
    ],
    "Department": [
        "Sales",
        "Engineering",
        "HR",
        "Engineering",
        "Sales"
    ],
    "Performance_Rating": [4.5, 3.8, 4.0, 3.2, 4.7],
    "Monthly_Salary": [75000, 90000, 60000, 85000, 80000],
    "Overtime_Hours_Last_Month": [12, 5, 0, 20, 8],
    "Employee_Feedback": [
        "Love the team and growth opportunities",
        "Workload is high but learning a lot",
        "Supportive environment",
        "Too much pressure and deadlines",
        "Great leadership and culture"
    ]
}

df = pd.DataFrame(data)
df

,Employee_ID,Date_of_Joining,Last_Promotion_Date,Department,Performance_Rating,Monthly_Salary,Overtime_Hours_Last_Month,Employee_Feedback
0,101,2018-06-15,2022-06-01,Sales,4.5,75000,12,Love the team and growth opportunities
1,102,2020-01-10,2021-12-15,Engineering,3.8,90000,5,Workload is high but learning a lot
2,103,2019-09-01,2020-08-20,HR,4.0,60000,0,Supportive environment
3,104,2021-03-22,2022-01-05,Engineering,3.2,85000,20,Too much pressure and deadlines
4,105,2017-11-30,2019-07-10,Sales,4.7,80000,8,Great leadership and culture

In [11]:
# Convert date columns to datetime
df["Date_of_Joining"] = pd.to_datetime(df["Date_of_Joining"])
df["Last_Promotion_Date"] = pd.to_datetime(df["Last_Promotion_Date"])

print(df)

   Employee_ID Date_of_Joining Last_Promotion_Date   Department  \
0          101      2018-06-15          2022-06-01        Sales
1          102      2020-01-10          2021-12-15  Engineering
2          103      2019-09-01          2020-08-20           HR
3          104      2021-03-22          2022-01-05  Engineering
4          105      2017-11-30          2019-07-10        Sales

   Performance_Rating  Monthly_Salary  Overtime_Hours_Last_Month  \
0                 4.5           75000                         12
1                 3.8           90000                          5
2                 4.0           60000                          0
3                 3.2           85000                         20
4                 4.7           80000                          8

                        Employee_Feedback
0  Love the team and growth opportunities
1     Workload is high but learning a lot
2                  Supportive environment
3         Too much pressure and deadlines
4            Great leadership and culture

In [12]:
#Step 2: Date & Time Feature Extraction (HR-Relevant)
today = pd.Timestamp(datetime.now())

df["Tenure_Years"] = (today - df["Date_of_Joining"]).dt.days / 365
df["Years_Since_Last_Promotion"] = (today - df["Last_Promotion_Date"]).dt.days / 365

df

,Employee_ID,Date_of_Joining,Last_Promotion_Date,Department,Performance_Rating,Monthly_Salary,Overtime_Hours_Last_Month,Employee_Feedback,Tenure_Years,Years_Since_Last_Promotion
0,101,2018-06-15,2022-06-01,Sales,4.5,75000,12,Love the team and growth opportunities,7.545205,3.580822
1,102,2020-01-10,2021-12-15,Engineering,3.8,90000,5,Workload is high but learning a lot,5.972603,4.041096
2,103,2019-09-01,2020-08-20,HR,4.0,60000,0,Supportive environment,6.331507,5.361644
3,104,2021-03-22,2022-01-05,Engineering,3.2,85000,20,Too much pressure and deadlines,4.775342,3.983562
4,105,2017-11-30,2019-07-10,Sales,4.7,80000,8,Great leadership and culture,8.084932,6.476712

In [13]:
#ðŸ· Step 3: Categorical Feature Extraction
df_encoded = pd.get_dummies(df, columns=["Department"], drop_first=True)

#Step 4: Behavioral & Numeric Feature Engineering
df_encoded["High_Overtime"] = df_encoded["Overtime_Hours_Last_Month"] > 10

#Salary Band Feature
df_encoded["Salary_Band"] = pd.cut(
    df_encoded["Monthly_Salary"],
    bins=[0, 65000, 80000, 100000],
    labels=["Low", "Medium", "High"]
)
df_encoded

,Employee_ID,Date_of_Joining,Last_Promotion_Date,Performance_Rating,Monthly_Salary,Overtime_Hours_Last_Month,Employee_Feedback,Tenure_Years,Years_Since_Last_Promotion,Department_HR,Department_Sales,High_Overtime,Salary_Band
0,101,2018-06-15,2022-06-01,4.5,75000,12,Love the team and growth opportunities,7.545205,3.580822,False,True,True,Medium
1,102,2020-01-10,2021-12-15,3.8,90000,5,Workload is high but learning a lot,5.972603,4.041096,False,False,False,High
2,103,2019-09-01,2020-08-20,4.0,60000,0,Supportive environment,6.331507,5.361644,True,False,False,Low
3,104,2021-03-22,2022-01-05,3.2,85000,20,Too much pressure and deadlines,4.775342,3.983562,False,False,True,High
4,105,2017-11-30,2019-07-10,4.7,80000,8,Great leadership and culture,8.084932,6.476712,False,True,False,Medium

In [14]:
# Step 5: Text Feature Extraction
df_encoded["Feedback_Length"] = df_encoded["Employee_Feedback"].apply(len)

#Keyword Presence
df_encoded["Stress_Keyword"] = df_encoded["Employee_Feedback"].str.contains(
    "pressure|workload|deadlines",
    case=False
)

In [15]:
#Final Feature-Engineered Dataset
print(df_encoded)

   Employee_ID Date_of_Joining Last_Promotion_Date  Performance_Rating  \
0          101      2018-06-15          2022-06-01                 4.5
1          102      2020-01-10          2021-12-15                 3.8
2          103      2019-09-01          2020-08-20                 4.0
3          104      2021-03-22          2022-01-05                 3.2
4          105      2017-11-30          2019-07-10                 4.7

   Monthly_Salary  Overtime_Hours_Last_Month  \
0           75000                         12
1           90000                          5
2           60000                          0
3           85000                         20
4           80000                          8

                        Employee_Feedback  Tenure_Years  \
0  Love the team and growth opportunities      7.545205
1     Workload is high but learning a lot      5.972603
2                  Supportive environment      6.331507
3         Too much pressure and deadlines      4.775342
4            Great leadership and culture      8.084932

   Years_Since_Last_Promotion  Department_HR  Department_Sales  High_Overtime  \
0                    3.580822          False              True           True
1                    4.041096          False             False          False
2                    5.361644           True             False          False
3                    3.983562          False             False           True
4                    6.476712          False              True          False

  Salary_Band  Feedback_Length  Stress_Keyword
0      Medium               38           False
1        High               35            True
2         Low               22           False
3        High               31            True
4      Medium               28           False