In [7]:
# Date and Time Feature Extraction
#Step 1: Create the Dataset
import pandas as pd

# Create sample dataset
data = {
    "Transaction_Date": [
        "2023-07-14 09:32",
        "2023-08-02 18:45",
        "2023-09-21 11:10",
        "2023-10-05 22:05",
        "2023-11-30 07:50"
    ]
}

df = pd.DataFrame(data)

# Convert to datetime
df["Transaction_Date"] = pd.to_datetime(df["Transaction_Date"])

df

     Transaction_Date
0 2023-07-14 09:32:00
1 2023-08-02 18:45:00
2 2023-09-21 11:10:00
3 2023-10-05 22:05:00
4 2023-11-30 07:50:00

In [9]:
#Step 2: Basic Date-Time Feature Extraction
df["Year"] = df["Transaction_Date"].dt.year
df["Month"] = df["Transaction_Date"].dt.month
df["Day"] = df["Transaction_Date"].dt.day
df["Hour"] = df["Transaction_Date"].dt.hour
df["Minute"] = df["Transaction_Date"].dt.minute

df

     Transaction_Date  Year  Month  Day  Hour  Minute
0 2023-07-14 09:32:00  2023      7   14     9      32
1 2023-08-02 18:45:00  2023      8    2    18      45
2 2023-09-21 11:10:00  2023      9   21    11      10
3 2023-10-05 22:05:00  2023     10    5    22       5
4 2023-11-30 07:50:00  2023     11   30     7      50

In [10]:
#Step 3: Calendar-Based Features
df["Day_of_Week"] = df["Transaction_Date"].dt.dayofweek
df["Day_Name"] = df["Transaction_Date"].dt.day_name()
df["Is_Weekend"] = df["Day_of_Week"].isin([5, 6]).astype(int)

df

,Transaction_Date,Year,Month,Day,Hour,Minute,Day_of_Week,Day_Name,Is_Weekend
0,2023-07-14 09:32:00,2023,7,14,9,32,4,Friday,0
1,2023-08-02 18:45:00,2023,8,2,18,45,2,Wednesday,0
2,2023-09-21 11:10:00,2023,9,21,11,10,3,Thursday,0
3,2023-10-05 22:05:00,2023,10,5,22,5,3,Thursday,0
4,2023-11-30 07:50:00,2023,11,30,7,50,3,Thursday,0

In [11]:
#Step 4: Time-of-Day Bucketing (Business Feature)
def time_of_day(hour):
    if 5 <= hour < 12:
        return "Morning"
    elif 12 <= hour < 17:
        return "Afternoon"
    elif 17 <= hour < 21:
        return "Evening"
    else:
        return "Night"

df["Time_Of_Day"] = df["Hour"].apply(time_of_day)

df

,Transaction_Date,Year,Month,Day,Hour,Minute,Day_of_Week,Day_Name,Is_Weekend,Time_Of_Day
0,2023-07-14 09:32:00,2023,7,14,9,32,4,Friday,0,Morning
1,2023-08-02 18:45:00,2023,8,2,18,45,2,Wednesday,0,Evening
2,2023-09-21 11:10:00,2023,9,21,11,10,3,Thursday,0,Morning
3,2023-10-05 22:05:00,2023,10,5,22,5,3,Thursday,0,Night
4,2023-11-30 07:50:00,2023,11,30,7,50,3,Thursday,0,Morning

In [12]:
#Step 5: Cyclical Encoding (Advanced but Important)
import numpy as np

df["Hour_sin"] = np.sin(2 * np.pi * df["Hour"] / 24)
df["Hour_cos"] = np.cos(2 * np.pi * df["Hour"] / 24)

df

,Transaction_Date,Year,Month,Day,Hour,Minute,Day_of_Week,Day_Name,Is_Weekend,Time_Of_Day,Hour_sin,Hour_cos
0,2023-07-14 09:32:00,2023,7,14,9,32,4,Friday,0,Morning,0.707107,-7.071068e-01
1,2023-08-02 18:45:00,2023,8,2,18,45,2,Wednesday,0,Evening,-1.000000,-1.836970e-16
2,2023-09-21 11:10:00,2023,9,21,11,10,3,Thursday,0,Morning,0.258819,-9.659258e-01
3,2023-10-05 22:05:00,2023,10,5,22,5,3,Thursday,0,Night,-0.500000,8.660254e-01
4,2023-11-30 07:50:00,2023,11,30,7,50,3,Thursday,0,Morning,0.965926,-2.588190e-01

In [13]:
#Step 6: Final Feature Set for Modeling
final_features = df[
    [
        "Year",
        "Month",
        "Day",
        "Day_of_Week",
        "Is_Weekend",
        "Hour",
        "Hour_sin",
        "Hour_cos"
    ]
]

final_features

   Year  Month  Day  Day_of_Week  Is_Weekend  Hour  Hour_sin      Hour_cos
0  2023      7   14            4           0     9  0.707107 -7.071068e-01
1  2023      8    2            2           0    18 -1.000000 -1.836970e-16
2  2023      9   21            3           0    11  0.258819 -9.659258e-01
3  2023     10    5            3           0    22 -0.500000  8.660254e-01
4  2023     11   30            3           0     7  0.965926 -2.588190e-01